<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-4">
            <label for="signin-email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="signin-email" placeholder="user@sw360.org">
        </div>
        <div class="mb-4">
            <label for="signin-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="signin-password">
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-lg btn-primary me-2 fw-bold" data-bs-dismiss="modal">Sign In</button>
        </div>
    </div>
    </div>
</div>
</div>
<div class="mt-4 mb-4 p-5 bg-light rounded">
    <h1 class="display-4">Welcome to SW360!</h1>
    <p class="lead">SW360 is an open source software project that provides both a web application and a repository to collect, organize and make available information about software components. It establishes a central hub for software components in an organization.</p>
    <hr class="my-4">
    <p class="fw-bold">In order to go ahead, please sign in or create a new account!</p>
    <div class="pb-2">
        <button type="button" class="btn btn-lg btn-primary me-2 fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign In</button>
        <button type="button" class="btn btn-lg btn-outline-primary fw-bold">Create Account</button>
    </div>
</div>